name: Terraform - Dev Deploy

on:
  push:
    branches: [ main ]
    paths:
      - 'terraform/**'
      - '.github/workflows/terraform-dev.yaml'

env:
  GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID_DEV }}
  TF_VERSION: '1.5.7'
  WORKING_DIR: './terraform'

jobs:
  terraform-apply:
    name: Terraform Apply (Dev)
    runs-on: ubuntu-latest
    environment: development
    defaults:
      run:
        working-directory: ${{ env.WORKING_DIR }}
    
    steps:
    - uses: actions/checkout@v4
    
    - id: auth
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY_DEV }}
    
    - uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ${{ env.TF_VERSION }}
    
    - name: Terraform Init
      run: terraform init -backend-config="bucket=${{ secrets.GCS_BUCKET_DEV }}"
    
    - name: Terraform Apply
      run: terraform apply -auto-approve -var-file="terraform.tfvars.example"
